.container {
    background-color: silver;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
}

.caixa {
    width: 50px;
    height: 50px;
    text-align: center;
    
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}

