body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
   /* background-position: 50% 50%; */
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   
}
p{
    color: rgb(127, 127, 127);
}

.Foto{
    width: 700px;
}